<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>+ Money</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="title-body">
            <h3>Change money in 6 jars</h3>
        </div>
        <form action="/add-money" method="post">
            <div class="alert">
                <%- include('partials/alert.ejs') %>
            </div>
            <section>
                <div class="row row-add-money">
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Neccessities</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/NEC.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_NEC" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.NEC%>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Long term saving</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/LTS.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_LTS" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.LTS%>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Education</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/EDU.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_EDU" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.EDU%>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Play</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/PLAY.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_PLAY" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.PLAY%>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Financial Freedom</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/FFA.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_FFA" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.FFA%>
                                </span>
                                <% } %>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">GIVE</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/GIVE.jpg">
                            </div>
                            <input class="title-money enter-money" type="text" name="add_GIVE" data-type="currency"
                                placeholder="Enter Money">
                            <% if(IsShowAddMoney==true) { %>
                                <span class="post-add-money">
                                    <%=ShowAddMoney.GIVE%>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <input type="text" name="userID" value="<%=generalInfo.glbUser.id%>" hidden>
                    <button type="submit" class="btnAddConfirm">Save Change</button>
                </div>
            </section>
        </form>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/currency.js"></script>
<%- include('partials/footer.ejs') %>

</html>