<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Dashboard</title>
</head>

<body>
    <header>
        <aside class="sidebar">
            <div class="toggle">
                <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
            <div class="side-inner">

                <div class="profile">
                    <img src="/img/none_avt.png" alt="Image" class="img-fluid">
                    <h3 class="name">
                        <%=getUser.firstName%>
                            <%=getUser.lastName%>
                    </h3>
                    <span class="country">
                        <%=getUser.email%>
                    </span>
                </div>

                <div class="counter d-flex justify-content-center">
                    <!-- <div class="row justify-content-center"> -->
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.totalMoneyStr%>
                        </strong>
                        <span class="number-label">Total</span>
                    </div>
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.decNECStr%>
                        </strong>
                        <span class="number-label">Need</span>
                    </div>
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.decPLAYStr%>
                        </strong>
                        <span class="number-label">Play</span>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="nav-menu">
                    <ul>
                        <li class="active">
                            <form action="/" method="get">
                                <a href="#">
                                    <span class="icon-home mr-3"></span>
                                    <button class="form_nav" type="submit">Dashboard</button>
                                </a>
                            </form>
                        </li>
                        <li>
                            <form action="/rule" method="get">
                                <a>
                                    <span class="icon-book mr-3"></span>
                                    <button type="submit" class="form_nav">Rule of 6 jars
                                    </button>
                                </a>
                            </form>
                        </li>
                        <li>
                            <form action="/logout" method="get">
                                <a>
                                    <span class="icon-sign-out mr-3"></span>
                                    <button type="submit" class="form_nav">Log out</button>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </aside>
        <!-- partial:index.partial.html -->
        <nav class="nav">
            <ul>
                <li><a href="#">Balance:<a></li>
                <li>
                    <a href="#">
                        <%=listSavingBook.totalMoney%>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="title-body">
        <h3>My Saving Book</h3>
    </div>
    <div class="container">
        <section>
            <div class=" row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Neccessities</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/NEC.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decNEC%>
                        </h3>
                        <span class="post">Bottle 1: Neccessities - NEC</span>
                        <span class="post_percent">(55% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Long term saving</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/LTS.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decLTS%>
                        </h3>
                        <span class="post">Bottle 2: Long term saving - LTS
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Education</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/EDU.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decEDU%>
                        </h3>
                        <span class="post">Bottle 3: Education - EDU
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Play</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/PLAY.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decPLAY%>
                        </h3>
                        <span class="post">Bottle 4: PLAY</span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Financial Freedom</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/FFA.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decFFA%>
                        </h3>
                        <span class="post">Bottle 5: Financial Freedom - FFA
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">GIVE</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/GIVE.jpg">
                        </div>
                        <h3 class="title-money">
                            <%=listSavingBook.decGIVE%>
                        </h3>
                        <span class="post">Bottle 6: GIVE
                        </span>
                        <span class="post_percent">(5% INCOME)</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- partial -->
    </div>
</body>
<%- include('partials/footer.ejs') %>

</html>