<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Dashboard</title>
</head>

<body>
    <header>
        <%- include('partials/sidebar.ejs') %>
    </header>
    <div class="title-body">
        <h3>My Saving Book</h3>
    </div>
    <div class="container">
        <section>
            <div class=" row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Neccessities</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/NEC.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Quỹ Chi tiêu cần thiết (NEC) giúp bạn đảm bảo nhu cầu thiết yếu, sinh hoạt hàng ngày của
                                cuộc sống. Quỹ NEC này cũng sử dụng cho các mục đích ăn uống, sinh hoạt, chi trả hóa
                                đơn, vui chơi, giải trí và mua sắm cần thiết. Đây là lọ chiếm phần trăm thu nhập của bạn
                                cao nhất.</h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decNEC%>
                        </h3>
                        <span class="post">Bottle 1: Neccessities - NEC</span>
                        <span class="post_percent">(55% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Long term saving</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/LTS.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Bạn sử dụng khoản tiết kiệm dài hạn (LTS) này cho những mục tiêu dài hạn, lớn hạn như
                                mua xe, mua nhà, sinh em bé, thực hiện ước mơ... Có quỹ LTS sẽ giúp bạn thấy được mục
                                đích mình nhắm tới, và có động lực tiết kiệm dần dần cho việc đó.</h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decLTS%>
                        </h3>
                        <span class="post">Bottle 2: Long term saving - LTS
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Education</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/EDU.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Bạn cần trích 10% thu nhập cho việc học thêm, trau dồi kiển thức của bạn thân. Bạn có
                                thể dùng quỹ giáo dục (EDU) này để mua sách, tham gia các khóa học, đào tạo, các buổi
                                gặp gỡ chia sẻ từ những người thành công.</h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decEDU%>
                        </h3>
                        <span class="post">Bottle 3: Education - EDU
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Play</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/PLAY.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Đây là khoản tiền bạn dành cho việc hưởng thụ, mua sắm xa xỉ, chăm lo cho bản thân, làm
                                những việc mới mẻ, tăng cường trải nghiệm... Quỹ Hưởng thụ (PLAY) giúp bạn có động lực
                                để làm việc tốt hơn.</h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decPLAY%>
                        </h3>
                        <span class="post">Bottle 4: PLAY</span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">Financial Freedom</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/FFA.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Tự do tài chính (FFA) là khi bạn có một cuộc sống như mong muốn mà không cần làm việc
                                hay phụ thuộc tài chính vào người khác. FFA là khoản bạn sử dụng để tham gia các hoạt
                                động tạo ra thu nhập thụ động như gửi tiết kiệm, đầu tư, góp vốn kinh doanh. Bằng cách
                                này, bạn đã tạo ra "con ngỗng" đẻ trứng vàng để sử dụng khi không còn làm việc.</h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decFFA%>
                        </h3>
                        <span class="post">Bottle 5: Financial Freedom - FFA
                        </span>
                        <span class="post_percent">(10% INCOME)</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">GIVE</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/GIVE.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Đây là khoản tiền bạn sử dụng để làm từ thiện, giúp đỡ cộng đồng, người thân, bạn bè.
                                Nếu bạn có nhiều thứ phải chi trả hơn, hãy giảm tỷ lệ này xuống, nhưng luôn trích một
                                khoản để giúp đỡ người khác.
                            </h1>
                        </div> -->
                        <h3 class="title-money">
                            <%=listSavingBook.decGIVE%>
                        </h3>
                        <span class="post">Bottle 6: GIVE
                        </span>
                        <span class="post_percent">(5% INCOME)</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- partial -->
    </div>
</body>
<%- include('partials/footer.ejs') %>

</html>