<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Dashboard</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="title-body">
            <h3>My Saving Book</h3>
        </div>
        <div class="container">
            <section>
                <div class=" row">
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Neccessities</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/NEC.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decNEC%>
                            </h3>
                            <span class="post">Bottle 1: Neccessities - NEC</span>
                            <span class="post_percent">(55% INCOME)</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Long term saving</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/LTS.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decLTS%>
                            </h3>
                            <span class="post">Bottle 2: Long term saving - LTS
                            </span>
                            <span class="post_percent">(10% INCOME)</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Education</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/EDU.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decEDU%>
                            </h3>
                            <span class="post">Bottle 3: Education - EDU
                            </span>
                            <span class="post_percent">(10% INCOME)</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Play</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/PLAY.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decPLAY%>
                            </h3>
                            <span class="post">Bottle 4: PLAY</span>
                            <span class="post_percent">(10% INCOME)</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">Financial Freedom</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/FFA.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decFFA%>
                            </h3>
                            <span class="post">Bottle 5: Financial Freedom - FFA
                            </span>
                            <span class="post_percent">(10% INCOME)</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <h3 class="title">GIVE</h3>
                            <div class="pic">
                                <img src="/img/6-Bottle/GIVE.jpg">
                            </div>
                            <h3 class="title-money">
                                <%=generalInfo.glbListSavingBook.decGIVE%>
                            </h3>
                            <span class="post">Bottle 6: GIVE
                            </span>
                            <span class="post_percent">(5% INCOME)</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- partial -->
        </div>
</body>
<%- include('partials/footer.ejs') %>

</html>