<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/fonts/style.css">

    <link rel="stylesheet" href="/css/dashboard/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/dashboard/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/dashboard/style.css">
    <link rel="stylesheet" href="/css/dashboard/styleCard.css">

    <title>Dashboard</title>
</head>

<body>
    <header>
        <aside class="sidebar">
            <div class="toggle">
                <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span></span>
                </a>
            </div>
            <div class="side-inner">

                <div class="profile">
                    <img src="/img/none_avt.png" alt="Image" class="img-fluid">
                    <h3 class="name">
                        <%=getUser.firstName%>
                            <%=getUser.lastName%>
                    </h3>
                    <span class="country">
                        <%=getUser.email%>
                    </span>
                </div>

                <div class="counter d-flex justify-content-center">
                    <!-- <div class="row justify-content-center"> -->
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.totalMoneyStr%>
                        </strong>
                        <span class="number-label">Total</span>
                    </div>
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.decNECStr%>
                        </strong>
                        <span class="number-label">Need</span>
                    </div>
                    <div class="col">
                        <strong class="number">
                            <%=listSavingBook.decPLAYStr%>
                        </strong>
                        <span class="number-label">Play</span>
                    </div>
                    <!-- </div> -->
                </div>

                <div class="nav-menu">
                    <ul>
                        <li class="active">
                            <form action="/" method="get">
                                <a href="#">
                                    <span class="icon-home mr-3"></span>
                                    <button class="form_nav" type="submit">Dashboard</button>
                                </a>
                            </form>
                        </li>
                        <li>
                            <form action="/logout" method="get">
                                <a>
                                    <span class="icon-sign-out mr-3"></span>
                                    <button type="submit" class="form_nav">Log out</button>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </aside>
        <!-- partial:index.partial.html -->
        <nav class="nav">
            <ul>
                <li><a href="#">Total:<a></li>
                <li>
                    <a href="#">
                        <%=listSavingBook.totalMoney%>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="title-body">
        <h3>TIẾT KIỆM CỦA BẠN</h3>
    </div>
    <div class="container">
        <section>
            <div class=" row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">CHI TIÊU CẦN THIẾT</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/NEC.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Quỹ Chi tiêu cần thiết (NEC) giúp bạn đảm bảo nhu cầu thiết yếu, sinh hoạt hàng ngày của
                                cuộc sống. Quỹ NEC này cũng sử dụng cho các mục đích ăn uống, sinh hoạt, chi trả hóa
                                đơn, vui chơi, giải trí và mua sắm cần thiết. Đây là lọ chiếm phần trăm thu nhập của bạn
                                cao nhất.</h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decNEC%>
                        </h3>
                        <span class="post">LỌ SỐ 1: CHI TIÊU CẦN THIẾT - NEC</span>
                        <span class="post_percent">(55% THU NHẬP)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">TIẾT KIỆM DÀI HẠN</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/LTS.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Bạn sử dụng khoản tiết kiệm dài hạn (LTS) này cho những mục tiêu dài hạn, lớn hạn như
                                mua xe, mua nhà, sinh em bé, thực hiện ước mơ... Có quỹ LTS sẽ giúp bạn thấy được mục
                                đích mình nhắm tới, và có động lực tiết kiệm dần dần cho việc đó.</h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decLTS%>
                        </h3>
                        <span class="post">LỌ SỐ 2: TIẾT KIỆM DÀI HẠN - LTS
                        </span>
                        <span class="post_percent">(10% THU NHẬP)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">QUỸ GIÁO DỤC</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/EDU.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Bạn cần trích 10% thu nhập cho việc học thêm, trau dồi kiển thức của bạn thân. Bạn có
                                thể dùng quỹ giáo dục (EDU) này để mua sách, tham gia các khóa học, đào tạo, các buổi
                                gặp gỡ chia sẻ từ những người thành công.</h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decEDU%>
                        </h3>
                        <span class="post">LỌ SỐ 3: QUỸ GIÁO DỤC - EDU
                        </span>
                        <span class="post_percent">(10% THU NHẬP)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">HƯỞNG THỤ</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/PLAY.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Đây là khoản tiền bạn dành cho việc hưởng thụ, mua sắm xa xỉ, chăm lo cho bản thân, làm
                                những việc mới mẻ, tăng cường trải nghiệm... Quỹ Hưởng thụ (PLAY) giúp bạn có động lực
                                để làm việc tốt hơn.</h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decPLAY%>
                        </h3>
                        <span class="post">LỌ SỐ 4: HƯỞNG THỤ - PLAY</span>
                        <span class="post_percent">(10% THU NHẬP)</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">QUỸ TỰ DO TÀI CHÍNH</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/FFA.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Tự do tài chính (FFA) là khi bạn có một cuộc sống như mong muốn mà không cần làm việc
                                hay phụ thuộc tài chính vào người khác. FFA là khoản bạn sử dụng để tham gia các hoạt
                                động tạo ra thu nhập thụ động như gửi tiết kiệm, đầu tư, góp vốn kinh doanh. Bằng cách
                                này, bạn đã tạo ra "con ngỗng" đẻ trứng vàng để sử dụng khi không còn làm việc.</h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decFFA%>
                        </h3>
                        <span class="post">LỌ SỐ 5: QUỸ TỰ DO TÀI CHÍNH - FFA
                        </span>
                        <span class="post_percent">(10% THU NHẬP)</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <h3 class="title">QUỸ TỪ THIỆN</h3>
                        <div class="pic">
                            <img src="/img/6-Bottle/GIVE.jpg">
                        </div>
                        <!-- <div class="description">
                            <h1>Đây là khoản tiền bạn sử dụng để làm từ thiện, giúp đỡ cộng đồng, người thân, bạn bè.
                                Nếu bạn có nhiều thứ phải chi trả hơn, hãy giảm tỷ lệ này xuống, nhưng luôn trích một
                                khoản để giúp đỡ người khác.
                            </h1>
                        </div> -->
                        <h3 class="title">
                            <%=listSavingBook.decGIVE%>
                        </h3>
                        <span class="post">QUỸ TỪ THIỆN - GIVE
                        </span>
                        <span class="post_percent">(5% THU NHẬP)</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- partial -->
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>