<header>
    <aside class="sidebar">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <div class="profile">
                <img src="/img/save-avatar/<%=generalInfo.glbUser.image==null?'none_avt.png':generalInfo.glbUser.image%>"
                    alt="Image" class="img-fluid">
                <h3 class="name">
                    <%=generalInfo.glbUser.firstName%>
                        <%=generalInfo.glbUser.lastName%>
                </h3>
                <span class="country">
                    <%=generalInfo.glbUser.email%>
                </span>
            </div>

            <div class="counter d-flex justify-content-center">
                <!-- <div class="row justify-content-center"> -->
                <div class="col">
                    <strong class="number">
                        <%=generalInfo.glbListSavingBook.totalMoneyStr%>
                    </strong>
                    <span class="number-label">Total</span>
                </div>
                <div class="col">
                    <strong class="number">
                        <%=generalInfo.glbListSavingBook.decNECStr%>
                    </strong>
                    <span class="number-label">Need</span>
                </div>
                <div class="col">
                    <strong class="number">
                        <%=generalInfo.glbListSavingBook.decPLAYStr%>
                    </strong>
                    <span class="number-label">Play</span>
                </div>
                <!-- </div> -->
            </div>
            <%- include('nav-menu.ejs') %>
        </div>

    </aside>
    <!-- partial:index.partial.html -->
    <nav class="nav">
        <ul>
            <li><a href="#">Balance:<a></li>
            <li>
                <a href="#">
                    <%=generalInfo.glbListSavingBook.totalMoney%>
                </a>
            </li>
        </ul>
    </nav>
</header>